---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("docs", "about-me");
const { Content } = await render(entry);
---

<BaseLayout pageTitle="About Me">
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>
